body {
    margin: 0 5%;
}

#hero {
    border: 2px solid rgba(122, 122, 122, 0.48);
    background-color: rgba(255, 255, 255, 1);
}

#heroimage,
#herobrand,
#herocart {
    display: inline-block;
    vertical-align: top;
    color: #33363A;
    font-family: Arial, serif;
    font-size: 0.9em;
}

#masthead,
#prodlist {
    margin: 1em auto 1em;
}

#herodesc {
    margin: 1em 0;
}

#herobrand {
    margin: 1em;
}

#herocart {
    margin-left: 7em
}

#points {
    list-style: inherit;
}

#points li {
    margin: 0.5em;
}

div#hero {
    padding: 0.2em;
}

#herodesc p {
    width: 428px;
}

#heroprice {
    text-align: center;
    margin-top: 3em;
    font-size: 1.5em;
}

#addcart {
    border: 2px solid #7A7A7A;
    background-color: #B7B7B7;
    padding: 0.5em 4em;
    text-align: center;
    font-family: arial, serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 1.8em;
    cursor: pointer;
}

ul#points li {}

#results li {
    list-style: none;
    padding: 0.8em;
    display: inline-block;
    margin: 0.7em 0.7em 0.7em 0;
    border: 2px solid rgba(122, 122, 122, 0.48);
    background-color: rgba(255, 255, 255, 1);
}

img.itemImage {
    margin: 2em;
    padding-left: 1em;
}

img.hover {
    display: none;
}

p.desc {
    text-align: center;
    font-size: 0.7em;
    font-family: Arial, serif;
    color: #33363A;
    width: 16em;
    padding: 1em;
    overflow: hidden;
    line-height: 1.5em;
}

p.priceTag {
    font-weight: bold;
    text-align: center;
}

.viewBtn {
    border: 2px solid #7A7A7A;
    background-color: #B7B7B7;
    padding: 0.5em 1em;
    text-align: center;
    font-family: arial, serif;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 1.2em;
}

@media only screen and (min-width: 1166px) {
    body {
        margin: 0 3%;
    }
    #masthead,
    #prodlist {
        margin: margin: 1em auto 1em;
    }
    #herodesc p {
        width: 344px;
    }
    #results li {
        margin: 0.7em 2.7em 0.7em 0;
    }
}
/* For Tablets */

@media only screen and (max-width: 1024px) {
    body {
        margin: 0 3%;
    }
    #herobrand {
        margin: 0;
    }
    #herocart {
        margin-left: 1em;
    }
    #herodesc p {
        width: 323px;
        line-height: 1.3em;
    }
    #results li {
        margin: 0.7em 2.7em 0.7em 0;
    }
}
/* For Smartphones */

@media only screen and (max-width: 480px) {
    #heroimage {
        padding-left: 30px;
    }
    #herobrand {
        margin-left: 30px;
    }
    #herocart {
        margin-left: 5em;
    }
    #herodesc p {
        width: 323px;
        line-height: 1.3em;
    }
    #heroprice {
        margin-top: 2em;
    }
    #results li {
        margin: 0.5em 4em;
    }
}